section{
    padding: 30px 20px;
}

span{
    padding: 5px;
    text-decoration: underline;
}

.aboutMe-container{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.aboutMe-img {
    width: 15%;
}

.aboutMe-text-container{
    width: 30%;
}

.aboutMe-text-container p{
    margin-top: 10px;
    line-height: 20px;
}

.aboutMeImg{
    border-radius: 10%;
    display: block;
    width: 100%;
}

.projectTitle{
    line-height: 20px;
}

.projectTitle h3{
    display: inline;
}

.projectImg {
    width: 100%;
    display: flex;
    align-self: center;
}

.projectDescription{
    line-height: 20px;
}

#Projects{
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.Projects-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skillContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsImage{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.Skill3Img{
    object-fit: contain;
    width: 15%;
    height: auto;
}

.SkillImg{
    object-fit: contain;
    width: 5%;
    height: auto;
}

.popupButton{
    line-height: 2rem;
    cursor: pointer;
}

/* popup */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent background */
    z-index: 99;
}

#PantheonPop {
    cursor: auto;
    position: fixed;
    right: 30%;
    top: 65px;
    display: none;
    width: 40%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 100;
    overflow-y: auto;
    height: 66%;
}

#JavaAdventurePop{
    cursor: auto;
    position: fixed;
    right: 30%;
    top: 65px;
    display: none;
    width: 40%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 100;
    overflow-y: auto;
    height: 50%;
}

#DencodePop{
    cursor: auto;
    position: fixed;
    right: 30%;
    top: 65px;
    display: none;
    width: 40%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 100;
    overflow-y: auto;
    height: 20%;
}

#ReactAdventurePop{
    cursor: auto;
    position: fixed;
    right: 30%;
    top: 65px;
    display: none;
    width: 40%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 100;
    overflow-y: auto;
    height: 53%;
}


@media screen and (max-width: 480px) {
    .aboutMe-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 0px;
    } 

    .aboutMe-text-container{
        width: 80%;
        margin-top: 30px;
    }

    .aboutMe-img {
        width: 80%;
    }

    .skillsImage{
        flex-direction: column;
        align-items: center;
    }
    .skillsImage img{
        margin-top: 10px;
    }

    .Skill3Img{
        width: 30%;
    }

    .SkillImg{
        width: 10%
    }
}