html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Catamaran", sans-serif;
    width: 100%;
}

h2{
    text-decoration: underline;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: "lato";
    font-style: italic;
    position: center;
}

h3{
    font-family: "lato";
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 700;
}

nav{
    background-color: antiquewhite;
    position: sticky;
    top:0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 5;
}

nav h2{
    margin: 0 5%;
}


footer{
    margin-top: auto;
    text-align: center;
}

.navItems{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navItem{
    padding:16px;
}

.navItem a{
    text-decoration: none;
    color: black;
}

.logo {
    width: 50px;
    height: auto;
}