html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Catamaran", sans-serif;
}

h2{
    text-decoration: underline;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: "lato";
    font-style: italic;
}

h3{
    font-family: "lato";
    font-style: italic;
}

nav{
    
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

nav h2{
    margin: 0 5%;
}

section{
    padding: 20px 0;
    margin: 0 5%;
}

footer{
    margin-top: auto;
    text-align: center;
}

.navItems{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navItem{
    padding:16px;
}

.navItem a{
    text-decoration: none;
    color: black;
}

.aboutMe-text-container p{
    margin-top: 10px;
    line-height: 20px;
}

.aboutMe-container{
    display: flex;
}

.aboutMeImg{
    width: 35%;
    border-radius: 10%;
    margin-left: 20%;
}

.projectTitle{
    line-height: 20px;
}

.projectTitle h3{
    display: inline;
}

.projectImg {
    width: 40%;
}

.projectDescription{
    line-height: 20px;
}

#skills ul{
    display: flex;
    justify-content: space-around;   
}

.logo {
    width: 50px;
    height: auto;
}